<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
 {# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'user:index' %}">DJANGO</a></li>
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'user:user_logout' %}">Logout</a></li>
          {% else %}

            <li><a class="navbar-link" href="{% url 'user:register' %}">Register</a></li>
            <li><a class="navbar-link" href="{% url 'user:user_login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>
</body>
</html>